.container {

}

.container .heros {
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
  justify-content: center;
  width: 700px;
}

.container .heros .hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  background-color: #555;
}

.container .heros .hero .image {

}